@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .focus-slide {
    position: relative;
  }
  .focus-slide:focus::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: #7c3aed;
    transition: width 0.3s ease-in-out;
  }
  .focus-slide:focus::before {
    width: 100%;
  }
}
